/* section */



.section {
    padding-top: 94px;
    padding-bottom: 94px;
   @media screen and( min-width:480px) and (max-width:1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
   }
}

.section-item {
   
    
    @media screen and ( min-width:480px) and (max-width:767px) {
       width: 250px; 
            margin-bottom: 30px;
            width: 450px;
            &:not(:last-child) {
                    margin: 0px;
            
                }
    }
    @media screen and (min-width: 768px) and (max-width:1199px) {
       width: 354px; 
        width: calc((100% - 4* 15px) /2);
            margin: 15px;
    }
    width: 270px;

    
}


.box {
    display: flex;
  
    justify-content: space-between;

    @media screen and(min-width:480px) and (max-width:767px) {
        display: block;
        margin: 0px;
    }
    @media screen and (min-width:768px) and (max-width:1199px){
        margin: -15px;
        flex-wrap: wrap;
    }
}





.section-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.section-text {
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-text-color);
}


// .laine-div {
//     display: flex;
//     background: var(--button-background);
//     width: 270px;
//     height: 120px;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 30px;

//     @media screen and (min-width){
//         width: 450px;
//     }
//     @media screen and (min-width:768px) {
//        width: 355px; 
//     }
// }

.laine-icon {
    fill: var(--pramary-text-color);
}

/* section-hero */

.hero {

    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    background: var(--hero-background-color);
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;

    max-width: 1600px;

}

.hero__title {
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    color: var(--white-text-color);

}

.hero__button {
    display: inline-block;
    min-width: 216px;
    height: 50px;
    border: 0px;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;

    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--white-text-color);
    background-color: var(--accent-text-color);

}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;

    background-color: var(--white-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover,
    &:focus {
            fill: var(--accent-text-color);
        }

}

.icon-close {

    display: inline-block;
    width: 11px;
    height: 11px;
    color: currentColor;
}





.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    width: 528px;
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    display: block;
    margin-bottom: 12px;
}

.form-box {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;


}

.form-label {
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.form-input {
    display: block;
    padding-left: 42px;
    margin: 0;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
}

.label-checkbox {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}



.link-checkbox {
    color: var(--accent-text-color);
    margin-left: 4px;

}

.submit-modal {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    width: 200px;
    height: 50px;
    padding: 10px 52px;
    cursor: pointer;

    background: var(--form-backgraund-buttom);
    color: var(--white-text-color);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
}

.form-checkbox {

    text-align: center;
}

.comment-form {
    height: 120px;
    padding: 12px 16px;

    &:focus {
         border-color: var(--accent-text-color);
        }

}

textarea {
    display: inline-block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    outline: none;

}



.form-box label {
    margin-bottom: 4px;
}

.name-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    width: 18px;
    height: 18px;

    &:hover,
    &:focus {
    
            color: var(--accent-text-color);
    
    }
}




.form-input:focus~.name-icon {
    color: var(--accent-text-color);

}


.telephone-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    width: 18px;
    height: 18px;
}

.form-input:focus~.telephone-icon {
    color: var(--accent-text-color);
}

.form-input:focus {
    border-color: var(--accent-text-color);
}

.mail-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor;
    width: 18px;
    height: 18px;
}

.form-input:focus~.mail-icon {
    color: var(--accent-text-color);
}



.checkbox-form {
    appearance: none;
    position: absolute;
}

.checkbox-icon {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--pramary-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    background-color: var(--white-text-color);
}

.checkbox-form:checked+.checkbox-icon {
    border-color: transparent;
    background-color: var(--accent-text-color);
    background-image: url(../images/icon\ check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
}

.checkbox-form:focus+.checkbox-icon {
    border-color: var(--accent-text-color);
}




/* section */








.section-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
@media screen and (min-width:480px) and (max-width:767px) {
       text-align: center;
    }
}

.section-text {
    font-size: 14px;
    line-height: 1.71;

    color: var(--secondary-text-color);
}


.laine-div {
    display: flex;
    background: var(--button-background);
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @media screen and (min-width:480px) and (max-width:767px) {
          
            width: 450px;
        }

    @media screen and (min-width:768px)and(max-width:1199px) {
        width: 355px;
    }
}

.laine-icon {
    fill: var(--pramary-text-color);
}