/* work */

.work{
    @media screen and( min-width:480px) and (max-width: 1199px) {
        display: none;
    }
}

.work-padding {
    padding-top: 0;
}

.work__item:not(:last-child) {
    margin-right: 30px;
}

.work__box {
    display: flex;
}

.work__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.thumb__work {
    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}

.work__desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}