:root {
    --pramary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --white-text-color: #FFFFFF;
    --web-info-color: rgba(255, 255, 255, 0.6);
    --logo-text-color: #000000;
    --hero-background-color: #2F303A;
    --button-background: #F5F4FA;
    --icon-fill-color: #AFB1B8;
    --border-gallery-color: #EEEEEE;
    --icon-background-color: rgba(255, 255, 255, 10%);
    --form-backgraund-buttom: #188CE8;
    
    --font-familiy-pramary: Roboto, sans-serif;
    --font-familiy-secondaruy: Raleway, sans-serif;

}


